<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOGService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9001/OGService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IOGService" contract="OpenGloveService.IOGService"
                name="BasicHttpBinding_IOGService" />
        </client>
    </system.serviceModel>
</configuration>