<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOGService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IOGService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9001/OGService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IOGService" contract="ServiceReference1.IOGService"
                name="BasicHttpBinding_IOGService" />
            <endpoint address="net.tcp://localhost:9002/OGService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IOGService" contract="ServiceReference1.IOGService"
                name="NetTcpBinding_IOGService">
                <identity>
                    <servicePrincipalName value="host/DESKTOP-7MC8J0E" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>